/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

/* estilo header */
.encabezado{
    position: sticky;
    top: 0;
    height: 200px;
    background-image: url("../Img/banner.jpg");
    z-index: 1;
}

.equipo{
    text-align: center;
    color: #446A46;
    font-size: 80px;    
    font-family: 'Bebas Neue', cursive;
}

.subtitulo{
    position: relative;
    color: #243D25;
    font-size: 40px;
    font-family: 'Square Peg', cursive;
    text-align: center;
}

.arbol{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 14%;
    margin: 3px;
}

/* estilo menu */

.opcion{
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
}

/* footer */
footer p{
    text-align: center;
    margin: 4px;
    font-size: 15px;
}

/* estilo home */
.foto{
    background-color: #E4E9BE;
    color: #243D25;
}
.fotoH3{
    font-family: 'Fredoka One', cursive;
}
