// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// import
@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";
@import "header";
@import "home";
@import "proyectos";
@import "nosotros";
@import "galeria";
@import "cursos";
@import "contacto";
@import "mediaqueries";

