%proyecto{
    font-size: 15px;
    text-align: center;
    justify-items: center;
}

%tituloProyecto{
    color: #446A46;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
}

%boxTitulo{
    background-image: $gradiant;
    @include boxTitulo (center, 40px, 5px);
    font-size: $letra-mediana;
    border: 5px $color-principal;
    border-radius: 15px;
    color: $color-principal;
    font-family: $texto-titulo;
}

%boxCursos{
    background-image: url("../../img/curso.jpg");
    width: 380px;
    height: 740px;
    margin: 10px;
    padding: 20px 50px 10px 40px;
    border: double 10px black;
    border-radius: 30px;
}