$color-fondo: whitesmoke;
$color-principal: #446A46;
$color-secundario: #243D25;
$color-alternativo: #E4E9BE;
$texto-body: 'Roboto', sans-serif;
$texto-subtitulo: 'Square Peg', cursive;
$texto-principal: 'Bebas Neue', cursive;
$texto-titulo: 'Fredoka One', cursive;
$letra-grande: 55px;
$letra-mediana:30px;
$letra-chica: 15px;
$gradiant: linear-gradient(to bottom, #BFD8B8, #FAEEE0);